* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(21, 20, 20);
  color: #c2bfbf;
}
.container {
  display: flex;
  flex-direction: row;
}
.side-bar {
  background-color: #c2bfbf2f;
  display: flex;
  gap: 2rem;
  padding: 12px;
}
.side-bar .icon-menu {
  background-color: rgb(70, 70, 70);
}
.side-bar .icon-document {
  position: absolute;
  left: 19%;
  top: 4%;
}
.side-bar .doc-name {
  position: absolute;
  top: 5px;
  font-size: 13px;
  opacity: 1;
  color: #666666;
  left: 264px;
}
.side-bar .md {
  color: white;
  position: absolute;
  top: 17px;
  left: 264px;
}
.markdown {
  max-width: 533px;
  font-size: 13px;
  list-style: none;
  line-height: 2.5;
  font-family: "Roboto,Mono", sans-serif;
  padding-left: 1%;
}
.icons {
  position: absolute;
  left: 85%;
}
.main-heading {
  background-color: rgb(37, 34, 34);
}
button {
  background-color: orangered;
  margin-top: -6px;
  margin-left: 40px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}
.icon-delete {
  margin-left: 5px;
}
.icons .icon-save {
  position: absolute;
  top: 32%;
  left: 32%;
}

.preview {
  max-width: 639px;
  line-height: 2;
  color: #e5dddd;
  padding-left: 2%;

  list-style: mlme;
  border-left: 2px solid #fff;
}
.sub-heading {
  background-color: rgb(42, 38, 38);
  font-family: "Roboto,Mono", sans-serif;
  color: rgb(200, 196, 196);
}
.Features li {
  list-style: circle;
}
.example {
  background-color: #565050;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  border-left: 3px solid rgb(190, 82, 19);
  font-family: "Roboto,Mono", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.preview .main {
  background-color: #424040;
  color: #b9b8b8;
  border-radius: 4px;
  font-family: "Roboto,Mono", sans-serif;
}
.main .text {
  padding: 3px;
}
.preview .icon-preview {
  position: absolute;
  right: 8%;
  top: 9%;
}
